.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 3px solid salmon;
  border-radius: 30px;
  margin-bottom: 40px;
}

.profile img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

